<form [formGroup]="form1" (submit)="addRecipe()">
<label>The name of the recipe</label><br/>
<input type="text" formControlName="name"/><br/>
<label>Level of difficulty</label><br/>
<input type="text" formControlName="level"/><br/>
<label>preparation time</label><br/>
<input type="number" formControlName="time"/><br/>

<div formArrayName="products">
    <div *ngFor="let prod of products.controls; let i=index">
        <div [formGroupName]="i">
            <label>name: </label>
            <input formControlName="name"/>&nbsp;
            <label>kind: </label>
            <input formControlName="kind"/>&nbsp;
            <label>count: </label>
            <input formControlName="count"/>&nbsp;
        </div>
    </div>
</div>

<input type="button" value="add product" (click)="addProduct()"/>


<!-- <input type="text" formControlName="prod"/> -->
<br/>
<button type="submit">send</button>
</form>


<!-- <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->
  