<mat-card>
<form [formGroup]="form" (submit)="addRecipe()">
    <mat-form-field>
        <mat-label>שם המתכון</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>ניתוב תמונה</mat-label>
        <input matInput formControlName="img">
      </mat-form-field>
      <mat-form-field>
        <mat-label>דרגת קושי</mat-label>
        <input matInput formControlName="level">
      </mat-form-field>
      <mat-form-field>
        <mat-label>זמן הכנה</mat-label>
        <input matInput formControlName="time">
      </mat-form-field>

<div formArrayName="products">
    <div *ngFor="let prod of products.controls; let i=index">
        <div [formGroupName]="i">
            <mat-form-field>
                <mat-label>שם המוצר</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              <mat-form-field>
                <mat-label>כמות</mat-label>
                <input matInput formControlName="count">
              </mat-form-field>
              <mat-form-field>
                <mat-label>סוג</mat-label>
                <input matInput formControlName="kind">
              </mat-form-field>
        </div>
    </div>
</div>
<button class="button" mat-raised-button (click)="addProduct()">הוספת מוצר</button>
<!-- <input type="button" value="add product" (click)="addProduct()"/> -->

<div formArrayName="instructions">
    <div *ngFor="let ins of instructions.controls; let i=index">
        <div [formGroupName]="i">
            <mat-form-field>
                <mat-label>הוסף פעולה </mat-label>
                <input matInput formControlName="instrctn">
              </mat-form-field>
        </div>
    </div>
</div>
<button class="button" mat-raised-button (click)="addinstruction()">הוספת פעולה</button>
<!-- <input type="button" value="add instruction" (click)="addinstruction()"/> -->

<!-- <input type="text" formControlName="prod"/> -->
<br/>
<button class="button" mat-stroked-button color="primary" type="submit" >הוסף</button>
<!-- <button type="submit">send</button> -->
</form>
</mat-card>

<!-- <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->
  