<form [formGroup]="form1" (submit)="addRecipe()">
<label>שם המתכון</label><br/>
<input type="text" formControlName="name"/><br/>
<label>דרגת קושי</label><br/>
<input type="text" formControlName="level"/><br/>
<label>זמן הכנה</label><br/>
<input type="number" formControlName="time"/><br/>

<formArrayName="products">
    <div *ngFor="let prod of product.controls; let i=index">
        <div [formGroupName]="i">
            <label>name: </label>
            <input formControlName="name"/>&nbsp;
            <label>kind: </label>
            <input formControlName="kind"/>&nbsp;
            <label>count: </label>
            <input formControlName="count"/>&nbsp;
        </div>
    </div>
</formArrayName>

<input type="button" value="add product" (click)="addProduct()"/>


<input type="text" formControlName="prod"/><br/>
<button type="submit">שלח</button>
</form>