<nav style="display: flex; gap: 5vw; text-align: center;margin-right: 10vw;">
    <a routerLink="/" routerLinkActive="" style="text-decoration: none"
    ><h2>Homepage</h2></a>  
    <a routerLink="/recipes" routerLinkActive="" style="text-decoration: none"
    ><h2>Recipes</h2></a
  >
    <a routerLink="/add_recipe" routerLinkActive="" style="text-decoration: none"
  ><h2>Adding a recipe</h2></a>

  <a routerLink="/about" routerLinkActive="" style="text-decoration: none"
    ><h2>About</h2></a
  >
  <a routerLink="/login" routerLinkActive="" style="text-decoration: none"
  ><h2>Login</h2></a
>
</nav>
<router-outlet></router-outlet>
