<div>
  <nav>
    <a routerLink="/" routerLinkActive="" style="text-decoration: none">
      <h2>דף הבית</h2>
    </a>
    <a routerLink="/recipes" routerLinkActive="" style="text-decoration: none">
      <h2>מתכונים</h2>
    </a>
    <a routerLink="/add_recipe" routerLinkActive="" style="text-decoration: none"
      ><h2>הוספת מתכון</h2>
    </a>
    <a routerLink="/my_recipes" routerLinkActive="" style="text-decoration: none"
    ><h2>המתכונים שלי </h2>
  </a>
  <a routerLink="/buy_list" routerLinkActive="" style="text-decoration: none"
  >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <span class="material-symbols-outlined">
    shopping_cart
    </span>
</a>
    <a routerLink="/about" routerLinkActive="" style="text-decoration: none">
      <h2>אודות</h2>
    </a>
    <a routerLink="/login" routerLinkActive="" style="text-decoration: none">
      <h2>התחברות</h2>
    </a>
  </nav>
</div>
<router-outlet></router-outlet>
