
    <h1 style="margin-top: 3%;">אודות האתר</h1>
    
    <p>ברוכים הבאים לאתר "טעים וטוב" - המקום שבו אנחנו משתפים אתכם במגוון רחב של מתכונים טעימים לעוגות ומאפים. <br/>אנחנו מאמינים שאין כמו טעם הבית, ובאתר שלנו אנחנו רוצים לחלוק איתכם את הסודות להכנת הגלידה המושלמת, העוגה המרשימה והקינוחים הטעימים ביותר.</p>
    
    <img src="../../assets/image/cakes.jpg" alt="תמונה 1" class="image">
    
    <!-- <h2>עוד תוכן</h2> -->
    <p>הצוות שלנו מורכב מקונדיטורים מקצועיים ומאוהבים באמנות האפייה. אנו משתמשים ברקע העשיר שלנו ובחומרי הגלם האיכותיים ביותר כדי ליצור מתכונים שיעניקו לכם חוויה מושלמת.</p>