<mat-card>
  <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username">
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password">
  </mat-form-field>
</p>

<p *ngIf="flag==true" class="error">
  {{ error }}
</p>

<div class="button">
  <button type="submit" mat-button>Login</button>
</div>

</form>
</mat-card-content>
</mat-card>
<!-- <h5>
  <u><i>Login Form using Angular material!!</i></u>
</h5>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Name</mat-label>
    <input
      matInput
      placeholder="Enter your name"
      name="usename"
      [(ngModel)]="username"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="Enter your password"
      value=""
      name="password"
      type="password"
      [(ngModel)]="password"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  <span *ngIf="show">
    <button mat-button color="accent">Login success !!</button></span
  >
</form> -->
