table{
    margin-bottom: 2%;
}
.first-table th,
.first-table td {
    text-align: right;
    padding: 15px;
    min-width: 5vw;
}
th, td {
    text-align: right;
    padding: 15px;
    min-width: 30vw;
  }
  
  tr:nth-child(even) {
    background-color: #f3f5f5;
  }
  .td-input {
    max-width: 30vw;
  }
  td input{
    min-width: 30vw;
    height: 5vh;
  }

 