<form [formGroup]="form" >
<div style="margin-top: 3%;" >
    <img style="width: 20%;height: auto;" src={{recipe.image}} alt="image" class="image_class" >
    <h3>שם:<input type="text"  [formControlName]="'name'"></h3>
    <h3>ניתוב תמונה:<input type="text" [formControlName]="'image'"></h3>
    <h3>דרגת קושי:<input type="text" [formControlName]="'level'"></h3>
    <h3>זמן הכנה:<input type="text" [formControlName]="'during'"></h3>
    <table formArrayName="products" class="first-table">  
    <thead>           
        <th class="th-input">שם המוצר</th>
        <th class="th-input">סוג</th>
        <th class="th-input">כמות</th>
    </thead> 
    <tbody>
        <tr *ngFor="let prod of products.controls; let i=index" [formGroupName]="i"> 
            <td class="td-input"><input type="text" [value]="prod.get('name')? prod.get('name'): 'No Value'" [formControlName]="'name'"></td>  
            <td class="td-input">
                <!-- <input type="text" [value]="prod.get('kind')? prod.get('kind'): 'No Value' " [formControlName]="'kind'"> -->
                <mat-select [value]="prod.get('kind')? prod.get('kind'): 'No Value' " [formControlName]="'kind'">
                    <mat-option value="כוס">כוס</mat-option>
                    <mat-option value="כף">כף</mat-option>
                    <mat-option value="כפית">כפית</mat-option>
                    <mat-option value="S">S</mat-option>
                    <mat-option value="M">M</mat-option>
                    <mat-option value="L">L</mat-option>
                  </mat-select>
            </td>
            <td class="td-input"><input type="text" [value]="prod.get('count')? prod.get('count') : 'No Value'" [formControlName]="'count'"></td> 
           
        </tr>
    </tbody>
    </table>
    <button class="button" mat-raised-button (click)="addProduct()">הוספת מוצר</button>
    <table formArrayName="instructions">
        <th>אופן הכנה</th>
        <tr *ngFor="let ins of instructions.controls; let i=index" [formGroupName]="i">
            <td><input type="text" [value]="ins.get('instruction')? ins.get('instruction') : 'No Value'" [formControlName]="'instruction'"></td>
        </tr>
    </table>
    <button class="button" mat-raised-button (click)="addInstruction()">הוספת פעולה</button> 
</div>
<button class="button" mat-stroked-button color="primary" (click)="saveRecipe()" >שמירה</button>

</form>