a{
    /* margin-left:  20vw !important; */
    /* align-items: auto!important;  */
    
}
table{
    /* margin-right: -7% !important; */
    margin-bottom: 2%;
}
th, td {
    text-align: right;
    padding: 15px;
    min-width: 30vw;
  }
  
  tr:nth-child(even) {
    background-color: #f3f5f5;
  }